@import url('https://fonts.googleapis.com/css?family=Libre+Franklin');

.chat-wrapper {
  font-size: 11pt;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: light;
}

.chat-container {
    overflow-y: scroll;
    background-color: #0E0C13;
}

.chat-line-mod-button {
    display: none !important;
}

.mod-card button.md-button.mod-card-mod-button {
  margin: 0 !important;
  padding: 6.5px !important;
}

.mod-card button.md-button.mod-card-mod-button img {
  height: 32px;
  transform: none;
}

.md-button {
  padding: 0 !important;
}

.chat-line-username {
  font-size: 12pt;
}
