.chat-wrapper {
	font-family: sans-serif !important;
	font-size: 12px;
}

.chat-line-wrapper {
	padding: 5px 10px 7px !important
}

.chat-line-wrapper img.chat-line-badge {
	margin: 0 3px -2px 0 !important;
}
.chat-line-wrapper img.chat-line-badge:last-child {
	margin: 0 0 -2px 0 !important;
}


.chat-line:nth-child(2n+0) {
	background: rgba(255, 255, 255, 0.05) !important;
}
.chat-line {
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	border-bottom: 1px solid #000;
}


.chat-line-username {
	font-weight: 700;
	-webkit-text-stroke: 0.2px black;
}
body.theme-dark .chat-container .chat-line-mod-button-label {
	font-size: 16px;
	margin-right: 3px;
}

.chat-line-wrapper img.emote {
	/*max-height: 100%;*/
}
.emote-menu-button {
	right: 21px !important;
	bottom: 10px !important;
}

.emote-menu-button .md-button.md-icon-button md-icon.md-dark-theme {
	font-size: 20px;
}

body.theme-dark .emote-menu {
	padding: 0;
	background-color: hsla(0, 0%, 25%, 0.95);
	height: 60%;
	width: auto;
	left: 10px;
	right: 10px;
	bottom: calc(4em + 10px);
}

.emote-search {
	position: relative;
	top: 18px;
}

.emote-menu-list {
	background-color: hsla(0, 0%, 16%, 0.6);
	padding: 4px;
}

.emote-menu-list > div {
	min-width: 28px;
	max-width: 56px;
	padding: 2px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.chat-paused-indicator {
	animation: 300ms chat-paused-indicator-show;
	overflow: hidden;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	right: 0px;
	left: 0px;
	width: auto !important;
	padding-left: 6px !important;
}


.chat-line-mod-button-label {
	display: inline-block;
	width: 16px;
}


.chat-line-mod-button {
    display: none !important;
}
